<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>AgentEdit</title>
    <script type="text/javascript" src="/validate.js"></script>
  </head>
  <body>
    <form id="form" action="/agentedit/<%= agent.AgentId %>" method="post">
      <label for="">First Name</label>
      <input
        type="text"
        name="firstname"
        value="<%= agent.AgtFirstName %>"
      /><br />
      <label for="">Middle Initial</label>
      <input
        type="text"
        name="middleinitial"
        value="<%= agent.AgtMiddleInitial %>"
      /><br />

      <label for="">Last Name</label>
      <input
        type="text"
        name="lastname"
        value="<%= agent.AgtLastName %>"
      /><br />
      <label for="">Business Phone Number</label>
      <input
        type="text"
        name="busphone"
        value="<%= agent.AgtBusPhone %>"
      /><br />
      
      <label for="">Email</label>
      <input type="text" name="email" value="<%= agent.AgtEmail %>" /><br />
     
      <label for="">Position</label>
      <input
        type="text"
        name="position"
        value="<%= agent.AgtPosition %>"
      /><br />
      <label for="">Location ID</label>
      <input
        type="text"
        name="location"
        value="<%= agent.AgencyId %>"
      /><br />
      
      
      <button type="submit" id="submit">Update user</button>
    </form>
    <script>
      const form = document.getElementById("form");

      // Validation and Submit
      function Submit() {
        let lastname = document.forms["form"]["lastname"].value;
        if (!validateName(lastname)) {
          return;
        }

        let firstname = document.forms["form"]["firstname"].value;
        if (!validateName(firstname)) {
          return;
        }
        let middleinitial = document.forms["form"]["middleinitial"].value;
        // if (!validateName(middleinitial)) {
        //   return;
        // }

        let busphone = document.forms["form"]["busphone"].value;
        if (!validatePhone(busphone)) {
          return;
        }

        let position = document.forms["form"]["position"].value;
        // if (!validateName(firstname)) {
        //   return;
        // }
        let email = document.forms["form"]["email"].value;
        if (!validateEmail(email)) {
          return;
        }
        let location = document.forms["form"]["location"].value;
        // if (!validateName(location)) {
        //   return;
        // }
        AgentId = "<%= agent.AgentId %>"
        const formData = {
          AgentId : AgentId,
          AgtFirstName: firstname,
          AgtMiddleInitial : middleinitial,
          AgtLastName: lastname,
          AgtBusPhone : busphone,
          AgtEmail: email,
          AgtPosition : position,
          AgencyID : location,
          
        };

        // send the request
        fetch(`/agentedit`, {
          method: "POST",
          headers: {
            "Content-Type": "application/json",
          },
          body: JSON.stringify(formData),
        })
          .then((response) => {
             window.location.href = "/agents"
            console.log(response);
          })
          .catch((error) => {
            console.log("Error:", error);
          });
      }

      // listen to the submit action
      form.addEventListener("submit", (e) => {
        e.preventDefault();
        Submit();
      });
    </script>
  </body>
</html>
