<%- include('header') %>
<div class="content-container">
  

  <div class="agents">
    
  </div>

  <div class="agents">
  
    <% agency.forEach(location => { %>
    <h1>
      <%= location.AgncyCity %> <%= location.AgncyAddress %> <%=
      location.AgncyPhone %>
    </h1>
    <% agents.forEach(agent => { %> <% if(agent.AgencyId === location.AgencyID){
    %>
    
      <li>
      <%= agent.AgtFirstName %> <%= agent.AgtLastName %> <%= agent.AgtBusPhone
      %> <%= agent.AgtEmail %>
    </li>
      
      
    <% } %> <% }) %> <% }) %>
  </div>
  <br>
    
    <button class="button" onclick="editAgents()">Edit Agents</button>
    
   
  

</div>
    

    <script>
      function editAgents() {
        window.location.href = "/editagents";
      }
    </script>
  </body>
</html>
