<!DOCTYPE html>
<html lang="en">
  <%- include('./includes/head.ejs') %>
  <body>
    <%- include('./includes/header.ejs') %> <%-
    include('./includes/nav-bar.ejs') %>

    <div class="edit-container">
      
        <h1>Delete Reviews</h1>
        <div class="review-grid">
        <% reviews.forEach(review => { %>
        <div class="review"><p>
          <%= review.reviewFirstName %> <%= review.reviewLastName %>'s Review :
          <%= review.reviewDescript %> Rating : <%= review.reviewRating %>
          Package Information : <%= review.packageId %></p></div>
          <a href="/deletereview/<%= review.ReviewId %>" 
            ><button class="button">Delete</button></a>
        
        
        <% }) %>
      </div>
    </div>
    <%- include('./includes/footer.ejs') %>
  </body>
</html>
