<%- include('./includes/head.ejs') %>
  <body>

    <%- include('./includes/header.ejs') %>
    <%- include('./includes/nav-bar.ejs') %>


    <div>
      <form class="packageOrder" id="form" action="/packageOrder" method="post">
        <h1 name="<% packageOrder.PackageID %>"><%= packageOrder.PkgName %></h1>
        <div class="inputDiv">
          <label for="CustFirstName">First Name: </label>
          <input type="text" name="CustFirstName" id="CustFirstName" />
        </div>
        <br />
        <div class="inputDiv">
          <label for="CustLastName">Last Name: </label>
          <input type="text" name="CustLastName" id="CustLastName" />
        </div>
        <br />
        <div class="inputDiv">
          <label for="CustAddress">Address: </label>
          <textarea
            cols="20"
            rows="3"
            autocomplete="off"
            name="CustAddress"
            id="CustAddress"
          ></textarea>
        </div>
        <br />
        <div class="inputDiv">
          <label for="CustCity">City: </label>
          <input type="text" name="CustCity" id="CustCity" />
        </div>
        <br />
        <label for="CustProv" id="CustProv">Province: </label>
        <select name ="CustProv">Province
          <option value="AB">Alberta</option>
          <option value="BC">British Columbia</option>
          <option value="MB">Manitoba</option>
          <option value="NB">New Brunswick</option>
          <option value="NL">Newfoundland</option>
          <option value="NS">Nova Scotia</option>
          <option value="NT">Northwest Territories</option>
          <option value="NU">Nunaut</option>
          <option value="ON">Ontario</option>
          <option value="PE">Prince Edward Island</option>
          <option value="QC">Quebec</option>
          <option value="SK">Saskatchewan</option>
          <option value="YT">Yukon</option>
      </select>
      <br/>
      <br/>
              <div class="inputDiv">
          <label for="CustPostal">Postal Code</label>
          <input type="text" name="CustPostal" id="CustPostal" />
        </div>
        <br />
        <div class="inputDiv">
          <label for="CustCountry">Country</label>
          <input type="text" name="CustCountry" id="CustCountry" />
        </div>
        <br />
        <div class="inputDiv">
          <label for="CustHomePhone">Home CustHomePhone</label>
          <input type="text" name="CustHomePhone" id="CustHomePhone" />
        </div>
        <br />
        <div class="inputDiv">
          <label for="CustBusPhone">Business Phone</label>
          <input type="text" name="CustBusPhone" id="CustBusPhone" />
        </div>
        <br />
        <div class="inputDiv">
          <label for="CustEmail">Email</label>
          <input type="text" name="CustEmail" id="CustEmail" />
        </div>
        <br />
        <div>
          <label for="TravelerCount">Number of Travellers</label>
          <input
            type="number"
            id="TravelerCount"
            name="TravelerCount"
            min="1"
            max="5"
          />
        </div>
        <br />
        <label for="AgentId">Select Your Agent</label>
        <select name="AgentId" id="AgentId">
          <% agents.forEach(agent => { %>
          <option value="<%= agent.AgentId %>">
            <%= agent.AgtFirstName %> <%= agent.AgtLastName %>
          </option>
          <% }) %>
        </select>
        <br />
        <br />
        <label for="TripTypeId">Select Your Trip Type</label>
        <select name="TripTypeId" id="TripTypeId">
          <% tripTypes.forEach(type => { %>
          <option value="<%= type.TripTypeId %>"><%= type.TTName %></option>
          <% }) %>
        </select>
        <br/>
        <br/>
        <label for="PackageId">Current Package</label>
        <select name="PackageId" id="PackageId">
          <option value="<%= packageOrder.PackageID %>"><%= packageOrder.PkgName %></option>
        </select>
        <br/>
        <br/>
        <button class="inputDiv" type="submit">Place Order</button>
      </form>
    </div>
    <%- include('./includes/footer.ejs') %>
    <script type="text/javascript" src="/validate.js"></script>
    <script>
      const form = document.getElementById("form");

      // Validation and Submit
      function Submit() {

        let lastname = document.forms["form"]["CustLastName"].value;
        if (!validateName(lastname)) {
          return;
        }

        let firstname = document.forms["form"]["CustFirstName"].value;
        if (!validateName(firstname)) {
          return;
        }

        let address = document.forms["form"]["CustAddress"].value;
        // if (!validateAddress(address)) {
        //   return;
        // }

        let email = document.forms["form"]["CustEmail"].value;
        if (!validateEmail(email)) {
          return;
        }

        let city = document.forms["form"]["CustCity"].value;
        if (!validateCity(city)) {
          return;
        }

        let province = document.forms["form"]["CustProv"].value;
        if (!validateProvince(province)) {
          return;
        }

        let postalCode = document.forms["form"]["CustPostal"].value;
        if (!validatePostalCode(postalCode)) {
          return;
        }

        let country = document.forms["form"]["CustCountry"].value;
        if (!validateCountry(country)) {
          return;
        }

        let CustHomePhone = document.forms["form"]["CustHomePhone"].value;
        if (!validatePhone(CustHomePhone)) {
          return;
        }

        let CustBusPhone = document.forms["form"]["CustBusPhone"].value;
        if (!validatePhone(CustBusPhone)) {
          return;
        }
        let TravelerCount = document.forms["form"]["TravelerCount"].value;
        let AgentId = document.forms["form"]["AgentId"].value;
        let TripTypeId = document.forms["form"]["TripTypeId"].value;
        let PackageId = "<%= packageOrder.PackageID %>"
        const formData = {
          CustFirstName: firstname,
          CustLastName: lastname,
          CustAddress: address,
          CustCity: city,
          CustProv: province,
          CustEmail: email,
          CustPostal: postalCode,
          CustCountry: country,
          CustHomePhone: CustHomePhone,
          CustBusPhone: CustBusPhone,
          TravelerCount: TravelerCount,
          AgentId: AgentId,
          TripTypeId: TripTypeId,
          PackageId :PackageId
        };

        // send the request
        fetch(`/packageOrder`, {
          method: "POST",
          headers: {
            "Content-Type": "application/json",
          },
          body: JSON.stringify(formData),
        })
          .then((response) => {
            window.location.href = "/packages"
            console.log(response);
          })
          .catch((error) => {
            console.log("Error:", error);
          });
      }

      // listen to the submit action
      form.addEventListener("submit", (e) => {
        e.preventDefault();
        Submit();
      });
    </script>
  </body>
</html>
