<%- include('./includes/head.ejs') %>

<body>

<%- include('./includes/header.ejs') %>
<%- include('./includes/nav-bar.ejs') %>


    <% packages.forEach(package => { %>
  <div class="packages-container">
      <div class="package-card"><h2><%= package.PkgName %></h2>
      <h4>Starts: <%= package.PkgStartDate %></h4>
      <h4>Ends: <%= package.PkgEndDate %></h4>
      <p><%= package.PkgDesc %></p>
    
      <% 
        // Filter reviews for the current package
        const filteredReviews = reviews.filter(review => package.PackageID === review.packageId && review.reviewRating === 5);
        
        // Select a random review from the filtered reviews
        const randomReview = filteredReviews.length > 0 ? filteredReviews[Math.floor(Math.random() * filteredReviews.length)] : null;
      %>
    
      <% if (randomReview) { %>
        <p style="font-size: 16px; color: red;"><%= randomReview.reviewFirstName %> says <%= randomReview.reviewDescript %></p>
      <% } else { %>
       
      <% } %>
   
  
    <p>$<%= parseFloat(package.PkgBasePrice).toFixed(2) %></p></div>
  

    <div class="orderbutton"><form action="order/<%= package.PackageID %>" >
      <input class="button " type="submit" value="Order This Package" />
    </form></div>
    <div class="reviewbutton"><form action="reviewPackage/<%= package.PackageID %>">

      <input class="button" type="submit" value="Review This Package" />
    </form></div>
  </div>
    <% }) %>

  

  <%- include('./includes/footer.ejs') %>
  </body>
</html>
