<%- include('header') %>
    <% packages.forEach(package => { %>
    <h2><%= package.PkgName %></h2>
    <h4><%= package.PkgStartDate %> - <%= package.PkgEndDate %></h4>
    <p><%= package.PkgDesc %></p>
    <p><%= package.PkgBasePrice %></p>
    <form action="order/<%= package.PackageID %>" method="post">
      <input class="button" type="submit" value="Order This Package" />
    </form>
    <form action="reviewPackage/<%= package.PackageID %>" method="post">
      <input class="button" type="submit" value="Review This Package" />
    </form>
    <br />
    <% }) %>
  </body>
</html>
